<!-- Section 3 -->
<section class="catalog-section">
  <div class="container-catalog">
    <h2 class="catalog-section-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-card">
        <div class="catalog-item-picture-wrap">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="./img/сatalog img/watch-desk-1-min.jpg 1x, ./img/сatalog img/watch-desk-1@2x-min.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/portfolio-x/portfolio-tab-1-min.jpg    1x,
                ./images/portfolio-x/portfolio-tab-1@2x-min.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/portfolio-x/portfolio-mob-1-min.jpg    1x,
                ./images/portfolio-x/portfolio-mob-1@2x-min.jpg 2x
              "
            />
            <img
              src="./images/portfolio-x/portfolio-desk-1-min.jpg"
              width="360"
              height="300"
              alt="Banking-App"
            />
          </picture>
          <p class="portfolio-item-text">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="portfolio-card-content">
          <h3 class="portfolio-card-title">Banking App</h3>
          <p class="portfolio-card-description">App</p>
        </div>
      </li>
      <li class="portfolio-card">
        <div class="portfolio-item-picture-wrap">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./images/portfolio-x/portfolio-desk-2-min.jpg,
                ./images/portfolio-x/portfolio-desk-2@2x-min.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/portfolio-x/portfolio-tab-2-min.jpg    1x,
                ./images/portfolio-x/portfolio-tab-2@2x-min.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/portfolio-x/portfolio-mob-2-min.jpg    1x,
                ./images/portfolio-x/portfolio-mob-2@2x-min.jpg 2x
              "
            />
            <img
              src="./images/portfolio-x/portfolio-desk-2-min.jpg"
              width="360"
              height="300"
              alt="Banking-App"
            />
          </picture>
          <p class="portfolio-item-text">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="portfolio-card-content">
          <h3 class="portfolio-card-title">Cashless Payment</h3>
          <p class="portfolio-card-description">Marketing</p>
        </div>
      </li>
      <li class="portfolio-card">
        <div class="portfolio-item-picture-wrap">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./images/portfolio-x/portfolio-desk-3-min.jpg,
                ./images/portfolio-x/portfolio-desk-3@2x-min.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/portfolio-x/portfolio-tab-3-min.jpg    1x,
                ./images/portfolio-x/portfolio-tab-3@2x-min.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/portfolio-x/portfolio-mob-3-min.jpg    1x,
                ./images/portfolio-x/portfolio-mob-3@2x-min.jpg 2x
              "
            />
            <img
              src="./images/portfolio-x/portfolio-desk-3-min.jpg"
              width="360"
              height="300"
              alt="Banking-App"
            />
          </picture>
          <p class="portfolio-item-text">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="portfolio-card-content">
          <h3 class="portfolio-card-title">Meditation App</h3>
          <p class="portfolio-card-description">App</p>
        </div>
      </li>
      <li class="portfolio-card">
        <div class="portfolio-item-picture-wrap">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./images/portfolio-x/portfolio-desk-4-min.jpg,
                ./images/portfolio-x/portfolio-desk-4@2x-min.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/portfolio-x/portfolio-tab-4-min.jpg    1x,
                ./images/portfolio-x/portfolio-tab-4@2x-min.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/portfolio-x/portfolio-mob-4-min.jpg    1x,
                ./images/portfolio-x/portfolio-mob-4@2x-min.jpg 2x
              "
            />
            <img
              src="./images/portfolio-x/portfolio-desk-4-min.jpg"
              width="360"
              height="300"
              alt="Banking-App"
            />
          </picture>
          <p class="portfolio-item-text">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="portfolio-card-content">
          <h3 class="portfolio-card-title">Taxi Service</h3>
          <p class="portfolio-card-description">Marketing</p>
        </div>
      </li>
      <li class="portfolio-card">
        <div class="portfolio-item-picture-wrap">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./images/portfolio-x/portfolio-desk-5-min.jpg,
                ./images/portfolio-x/portfolio-desk-5@2x-min.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/portfolio-x/portfolio-tab-5-min.jpg    1x,
                ./images/portfolio-x/portfolio-tab-5@2x-min.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/portfolio-x/portfolio-mob-5-min.jpg    1x,
                ./images/portfolio-x/portfolio-mob-5@2x-min.jpg 2x
              "
            />
            <img
              src="./images/portfolio-x/portfolio-desk-5-min.jpg"
              width="360"
              height="300"
              alt="Banking-App"
            />
          </picture>
          <p class="portfolio-item-text">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="portfolio-card-content">
          <h3 class="portfolio-card-title">Screen Illustrations</h3>
          <p class="portfolio-card-description">Design</p>
        </div>
      </li>
      <li class="portfolio-card">
        <div class="portfolio-item-picture-wrap">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                ./images/portfolio-x/portfolio-desk-6-min.jpg,
                ./images/portfolio-x/portfolio-desk-6@2x-min.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/portfolio-x/portfolio-tab-6-min.jpg    1x,
                ./images/portfolio-x/portfolio-tab-6@2x-min.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/portfolio-x/portfolio-mob-6-min.jpg    1x,
                ./images/portfolio-x/portfolio-mob-6@2x-min.jpg 2x
              "
            />
            <img
              src="./images/portfolio-x/portfolio-desk-6-min.jpg"
              width="360"
              height="300"
              alt="Banking-App"
            />
          </picture>
          <p class="portfolio-item-text">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="portfolio-card-content">
          <h3 class="portfolio-card-title">Online Courses</h3>
          <p class="portfolio-card-description">Marketing</p>
        </div>
      </li>
    </ul>
  </div>
</section>
